
<div class ="regi-screen"></div>
<div class="container">
			<div class="main">
				<div class="main-center">
			
					<form class="" method="post" action="#">
						
						<div class="form-group">
							<label for="name">Your Name</label>
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
				<input type="text" class="form-control" name="name" id="name"  placeholder="Enter your Name"/>
							</div>
						</div>

						<div class="form-group">
							<label for="email">Your Email</label>
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="email" placeholder="Enter your Email"/>
							</div>
						</div>

						<div class="form-group">
							<label for="GroupId">GroupId</label>
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="GroupId" placeholder="Enter your GroupId"/>
								</div>
						</div>

						<div class="form-group">
							<label for="password">Password</label>
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="password" placeholder="Enter your Password"/>
								</div>
						</div>

						<div class="form-group">
							<label for="confirm">Confirm Password</label>
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="confirm" placeholder="Confirm your Password"/>
								</div>
						</div>
							<div class="form-group">
							<label for="Mobile Number">Mobile Number</label>
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="Mobile Number" placeholder="Enter your Mobile Number"/>
								</div>
								
						</div>
                        <div class="dropdown">
  <label>Select Capative</label>
 
  <select class="selectpicker dropbtn" id ="id_of_select">
  <optgroup>
    <option><a  id="doctor" value="doctor" selected >Doctor</a></option>
    <option><a id="lab" value="lab">Lab Reporter</a></option>
    <option><a id="patient" value="patient">General User</a></option>
  </optgroup>
  </select>
</div>
				
						<div class="form-group">
							
								<div class="input-group">
									
									<button type="submit" {{action "DocSubmit"}} class="pull-right btn btn-block btn">submit</button>
								</div>
								
						</div>
					</form>
				</div><!--main-center"-->
			</div><!--main-->
		</div><!--container-->