
    <br>
   
     <body class ="homescreen"> 

    <br><br>
<h1><center>Welcome to Laboratory EHR portal</center></h1>
<div>
    <center>
<form action="connect">Patient Id: <input type="text" name="patientid" value=""><br>
<br>
<input type="submit" value="Submit">
</form>
</center>
</div>


<div id="wrapper">
    <!-- Navigation -->
    
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            
            
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://cijulenlinea.ucr.ac.cr/dev-users/">
               
            </a>
        </div>
        
        <!-- Top Menu Items -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-right top-nav">
            
                
                      
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Lab</a>
                {{!-- <ul class="dropdown-menu">
                    <li><a href="#"><i class="fa fa-fw fa-user"></i> Edit Profile</a></li>
                    <li><a href="#"><i class="fa fa-fw fa-cog"></i> Change Password</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-fw fa-power-off"></i> Logout</a></li>
                </ul> --}}
            </li>
        </ul>
        </div>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div>
            <ul class="nav navbar-nav side-nav">
                
                <li>
                   
                    <a href="home" id="profile" {{action "show"}}><font color="black">Profile</font></a>
                   </li>
                <li>
                    <a href="home" id="profile4"{{action "show4"}}><font color="black">Logout</font></a>
                </li>
            </ul>
            </div>
        </div>
         </div>
    </body>
    
       
