 

{{!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> --}}

<!------ Include the above in your HEAD tag ---------->

 
{{!-- <form class="form-horizontal"> --}}
{{!-- <fieldset> --}}

<!-- Form Name -->
<body class="homescreen">
<h1>Patient Lab Report </h1>

<!-- File Button --> 
{{!-- <div class="homescreen"> --}}

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Registration Number " style="text-align:right">Patient Id </label>  
  
  <input id="Registration Number " name="Registration Number " type="text" placeholder="" class="form-control input-md" style="width:340px">
    
 
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="Patient Name "style="text-align:right">Patient Name </label>  
  
  <input id="Patient Name " name="Patient Name " type="text" placeholder="" class="form-control input-md"style="width:170px">
    
  
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="Gender"style="text-align:right">Gender</label>
  <div class="col-md-4">
  <div class="radio">
    <label for="Gender-0">
      <input type="radio" name="Gender" id="Gender-0" value="1" checked="checked">
      Male
    </label>
	</div>
  <div class="radio">
    <label for="Gender-1">
      <input type="radio" name="Gender" id="Gender-1" value="2">
      Female
    </label>
	</div>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Marriage Status</label>
  
    <select id="selectbasic" name="selectbasic" class="form-control" style="width:120px">
      <option value="1">Married</option>
      <option value="2">Unmarried</option>
    </select>
  
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="Contact Number"style="text-align:right">Contact Number</label>  
  <div class="col-md-4">
  <input id="Contact Number" name="Contact Number" type="text" placeholder="" class="form-control input-md" style="width:240px">
    
  </div>
</div>
<div class="form-group">
  <div class="col-md-4">
  <label class="col-md-4 control-label" for="Address">Address</label>
                       
    <textarea class="form-control" id="Address" name="Address"></textarea>
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="Patient Status "style="text-align:right">Patient Status </label>
  <div class="col-md-4">
    <select id="Patient Status " name="Patient Status " class="form-control"style="width:170px">
      <option value="1">Normal</option>
      <option value="2">Need to be admitted</option>
      <option value="3">Need of Surgery</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="BHT Number">Symptoms&signs</label>  
  
  <input id="BHT Number" name="BHT Number" type="text" placeholder="" class="form-control input-md" style="width:340px">
    
  
</div>
{{!-- <body> --}}

<div class="container">
  <h2>Report Details</h2>
              
  <table class="table">
    <thead>
      <tr>
        <th>Date & Time</th>
        <th>Disease Identified</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>10/01/2018 & 2.30pm</td>
        <td>Blood clotting inside brain</td>
        <td>Starting stage</td>
      </tr>
      <tr>
        <td>22/03/2018 & 8.43pm</td>
        <td>Fracture in backbone</td>
        <td>Need to operate</td>
      </tr>
      <tr>
        <td>14/05/2018 & 5.34pm</td>
        <td>Kidney Stone</td>
        <td>Severe</td>
      </tr>
    </tbody>
  </table>
</div>


<div class="form-group" style="text-align:right">
  <label class="col-md-4 control-label" for="Photo"style="margin-right:100px">Upload Report</label>
  <label class="col-md-4 control-label" for="Save"style="text-align:center"></label>
  <br><br>
  <div class="col-md-4"style="text-align:right">
    <input id="Photo" name="Photo" class="input-file" type="file" style="text-align:right">
    <button id="Save" name="Save" class="btn btn-success">Save</button>
  </div>



</div>
</body>