
				  <div id="throbber" style="display:none; min-height:120px;"></div>
<div id="noty-holder"></div>
<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://cijulenlinea.ucr.ac.cr/dev-users/">
                {{!-- <img src="http://placehold.it/200x50&text=LOGO"  > --}}
            </a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li><a href="#" data-placement="bottom" data-toggle="tooltip" href="#" data-original-title="Stats"><i class="fa fa-bar-chart-o"></i>
                </a>
            </li>            
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="margin-right:23px">User01 <b class="fa fa-angle-down"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="fa fa-fw fa-user"></i> Edit Profile</a></li>
                    <li><a href="#"><i class="fa fa-fw fa-cog"></i> Change Password</a></li>
                    <li class="divider"></li>
                    <li><a href="login"><i class="fa fa-fw fa-power-off"></i> Logout</a></li>
                </ul>
            </li>
        </ul>
        </nav></div> 
  
    <div class="bg-agile">
    <div class="book-appointment">
    <h2>User Registration</h2>
    
            <div class="tab-content">
               <div id="home" class="tab-pane fade in active">
                  <form action="#">
            {{!-- <form action="#" method="post"> --}}
                <div class="center-agileits-w3layouts same">
                    <div class="gaps">
                    
                        <p>Name</p>
                        {{!-- <input type="text" id="Name" name="First Name" valuebinding="name" placeholder="" > --}}
                     {{input  type="text" id="Name" valuebinding="Name"}}
                    </div>    
                    <div class="gaps">
                        <p>Address</p>
                            {{!-- <input type="text" id="Name" name="First Name" valuebinding="address" placeholder=""> --}}
                 {{input  type="text"id="Address" valuebinding="Address"}}
                    </div>
                    {{!-- <div class="gaps">
                        <p>Gender</p>   
                            <select class="form-control">
                                <option></option>
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                    </div> --}}
                    <div class="gaps">
                        <p>Phone number</p>     
                        {{!-- <input  name="Text" type="text" valuebinding="phoneNumber" required=""> --}}
                         {{input  type="text"id="Phone" valuebinding="Phone"}}
                    </div>
                    <div class="gaps">
                        <p>Group Name</p>       
                        <input   name="Text" type="text" id="groupname"valuebinding="groupname"  required="">
                    </div>
                <div class="gaps">  
                        <p>Email</p>
                         <input type="email" id="email"   valuebinding='email' placeholder="" required="true">
                    </div>
            
                <div class="gaps">  
                        <p>Password</p>
                    
                         <input type="password  " id="Password" name="First Name"   valuebinding='password' placeholder="" required="">
                    </div>
                <div class="gaps">  
                        <p>Confirm Password</p>
                         <input type="password  " id="confirmpassword" name="First Name"   valuebinding='confirmpassword' placeholder="" required="">
                    </div>
                <div class="right-agileinfo same">
                    <div class="gaps">
                        <p>Proposed Captive Name</p>
                        <input type="text" id="captiveName" name="First Name" valuebinding="captiveName" placeholder="" required="">
                    </div>
                    <div class="gaps">
                        <p>Enter parent 0r Sponsor</p>
                        <input type="text" id="parent" name="First Name"valuebinding="parent" placeholder="" required="" >
                    </div>
                    <div class="gaps">
                        <p>Employee ID</p>
                    
                        <input type="text" id="employeeID" name="Last Name" valuebinding="employeeID" placeholder="" >
                        </div>
                    
                    <div class="gaps" >
                        <p>Select captive type</p>  
                            <select class="form-control"id="captive">
                                <option>Select Captive</option>
                                <option>Pure</option>
                                <option>Association</option>
                                <option>Industrial Insured</option>
                                <option>Captive Risk Retention Group</option>
                            </select>
                    </div>
                        <div class="gaps" >
                        <p>Select Business entity</p>   
                            <select class="form-control"id ="business">
                                <option>Select Entity</option>
                                <option>Corporation</option>
                                <option>LLC</option>
                                <option>Partnership</option>
                            </select>
                    </div>
                        <div class="gaps" >
                        <p>Select Organization</p>  
                            <select class="form-control" id ="organization">
                                <option>Select Organization</option>
                                <option>Stock</option>
                                <option>Mutual</option>
                                <option>Reciprocal</option>
                            </select>
                    </div>
                        </div>
                </div>
                <div class="clear"></div>
                <button type="submit" {{action "userSubmit"}} class="pull-right btn btn-block btn-success">Submit</button>
            </form>
        </div>
   
   
            
        </div>
        
   </div>
    </div>
   
    
  
        {{!-- <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
        <!-- Calendar -->
                <link rel="stylesheet" href="css/jquery-ui.css" />
                <script src="js/jquery-ui.js"></script>
                  <script>
                          $(function() {
                            $( "#datepicker,#datepicker1,#datepicker2,#datepicker3" ).datepicker();
                          });
                  </script> --}}



